<!DOCTYPE html>
<html>
  <head>
    <title>Custom Emergency Call Map</title>
    {% load static %}
    {% load leaflet_tags %}

    {% leaflet_css %}
    {% leaflet_js %}
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'leaflet/leaflet.css' %}" />
    <script type="text/javascript" src="{% static 'leaflet/leaflet.js' %}"></script>
  </head>
  <body>
    <div id="map" style="width: 100%; height: 500px;"></div>
    <script type="text/javascript">
      var map = L.map('map').setView([{
        {
          emergency_calls .0.location.y
        }
      }, {
        {
          emergency_calls .0.location.x
        }
      }], 12);
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '© <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
      }).addTo(map);

      {
        %
        for emergency_call in emergency_calls %
      }
      L.marker([{
        {
          emergency_call.location.y
        }
      }, {
        {
          emergency_call.location.x
        }
      }]).addTo(map).bindPopup("{{ emergency_call.title }}");
      {
        % endfor %
      }
    </script>
  </body>
</html>
