{% extends "base.html" %}

{% load static %}
{% load leaflet_tags %}
{% leaflet_css %}
{% leaflet_js %}
{% block title %}
    Custom Volunteer Map
{% endblock title %}
{% block content %}


    <link rel="stylesheet" type="text/css" href="{% static 'leaflet/leaflet.css' %}">
    <script type="text/javascript" src="{% static 'leaflet/leaflet.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div id="map" style="width: 100%; height: 500px;"></div>
    <script type="text/javascript">
        var map = L.map('map').setView([0, 0], 2);  // Initialize the map with a default view
    
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
        }).addTo(map);
    
        // Function to add markers to the map
        function addMarkers(volunteers) {
            volunteers.forEach(function (volunteer) {
                var popupContent = '<table>' +
                    '<tr><td>Name:</td><td>{{ volunteer.profile.user.name }}</td></tr>' +
                    '<tr><td>Email:</td><td>{{ volunteer.profile.user.email }}</td></tr>' +
                    '<tr><td>Available:</td><td>{{ volunteer.availability_status }}</td></tr>' +
                    '<tr><td>Phone:</td><td>{{ volunteer.contact_information }}</td></tr>' +
                    '<tr><td>Weapon:</td><td>{{ volunteer.carrying_weapon }}</td></tr>' +
                    '<tr><td>License:</td><td>{{ volunteer.driving_license }}</td></tr>' +
                    // Add other volunteer information as needed
                    '</table>';
    
                L.marker([volunteer.fields.location.y, volunteer.fields.location.x]).addTo(map).bindPopup(popupContent);
            });
        }
    
        // Function to update the map with JSON data
        function updateVolunteers() {
            $.ajax({
                url: 'http://localhost:8001/emergency/volunteers/update/',
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    // Parse the JSON string into an array of objects
                    var volunteers = JSON.parse(data.volunteers);
        
                    // Clear existing markers
                    map.eachLayer(function (layer) {
                        if (layer instanceof L.Marker) {
                            map.removeLayer(layer);
                        }
                    });
        
                    // Add new markers for the updated volunteers
                    volunteers.forEach(function (volunteer) {
                        // Extract the latitude and longitude from the location field
                        var locationString = volunteer.fields.location;
                        var coordinates = locationString.match(/\(([^)]+)\)/)[1].split(' ');
                        var latitude = parseFloat(coordinates[1]);
                        var longitude = parseFloat(coordinates[0]);
        
                        var popupContent = '<table>' +
                            '<tr><td>Name:</td><td>' + volunteer.fields.name + '</td></tr>' +
                            '<tr><td>Email:</td><td>' + volunteer.fields.email + '</td></tr>' +
                            // Add other volunteer information as needed
                            '</table>';
        
                        L.marker([latitude, longitude]).addTo(map).bindPopup(popupContent);
                    });
                },
                error: function(xhr, status, error) {
                    console.log('Error fetching data: ' + error);
                }
            });
        }
    
        // Call the updateMap function to initially load markers
        updateVolunteers();
    
        // Automatically update volunteers at a regular interval (e.g., every 60 seconds)
        setInterval(updateVolunteers, 4000);  // Adjust the interval as needed
    </script>
{% endblock content %}