{% extends "base.html" %}

{% load static %}
{% load leaflet_tags %}
{% leaflet_css %}
{% leaflet_js %}
{% block title %}
    Custom Volunteer Map
{% endblock title %}
{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'leaflet/leaflet.css' %}">
    <script type="text/javascript" src="{% static 'leaflet/leaflet.js' %}"></script>
</head>
<body>
    <div id="map" style="width: 100%; height: 500px;"></div>
    <script type="text/javascript">
        var map = L.map('map').setView([{{ volunteer.location.y }}, {{ volunteer.location.x }}], 7);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
        }).addTo(map);

        var popupContent = '<table>' +
            '<tr><td>Name:</td><td>{{ volunteer.profile.user.name }}</td></tr>' +
            '<tr><td>Email:</td><td>{{ volunteer.profile.user.email }}</td></tr>' +
            '<tr><td>Available:</td><td>{{ volunteer.availability_status }}</td></tr>' +
            '<tr><td>Phone:</td><td>{{ volunteer.contact_information }}</td></tr>' +
            '<tr><td>Weapon:</td><td>{{ volunteer.carrying_weapon }}</td></tr>' +
            '<tr><td>License:</td><td>{{ volunteer.driving_license }}</td></tr>' +
            '</table>';

        L.marker([{{ volunteer.location.y }}, {{ volunteer.location.x }}]).addTo(map).bindPopup(popupContent);

    </script>

{% endblock content %}